/*** UNIVERSAL SELECTOR ***/

* {
  box-sizing: border-box;
}

/*** HEADER AND INTRO ***/

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #90AFC5;
  font-family: 'Merriweather', serif;
}

.head {
  background-color: #2a3132;
  color: white;
  padding: 10px 0;
}

.main-content-head {
  padding-bottom: 40px;
  border-bottom: black 5px solid;
  margin: 0 15px;
}

.signup {
  font-weight: 700;
}

.light-text {
  color: #3c3c3c;
  font-weight: lighter;
}

.bottom {
  border-top: black 2px solid;
  margin: 5px 15px 0 15px;
}

/*** FORM ***/

form {
  width: auto;
  margin: 0 15px;
  border-radius: 8px;
  text-align: left;
}

.form-main {
  margin: 0 15px 30px 15px;
}

fieldset {
  border: 0 none;
  padding: 0;
}

input {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin-bottom: 12px;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #E8EEEF;
  color: black;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  border-radius: 8px;
}

label {
  display: block;
  margin-bottom: 8px;
  text-align: left;
  color: #545454;
}

input[type=text]:focus {
  outline: 2px solid #336B87;
  border-radius: 8px;
  background-color: #D4D4D4;
  transition: background-color 1s;
}

input[type=email]:focus {
  outline: 2px solid #336B87;
  border-radius: 8px;
  background-color: #D4D4D4;
  transition: background-color 1s;
}

input[type=tel]:focus {
  outline: 2px solid #336B87;
  border-radius: 8px;
  background-color: #D4D4D4;
  transition: background-color 1s;
}

::placeholder {
  text-align: right;
  font-style: italic;
  color: #BCBCBC;
}

.contact-info {
  text-align: left;
  font-size: 30px;
  padding-top: 20px;
  margin: 0 -5px 20px 0;
}

select {
  display: block;
  margin-bottom: 8px;
  text-align: left;
  color: #545454;
}

select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: 48px;
  margin-bottom: 12px;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #E8EEEF;
  color: black;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  border-radius: 8px;
}

.state {
  text-align: left;
  font-style: italic;
  color: #BCBCBC;
}

.zip {
  width: 50%;
  margin-bottom: 30px;
}
