/* Universal Selectors */

* {
    box-sizing: border-box;
    margin: 0;
}


/* Header */

.header {
    text-align: center;
    background-color: #363131;
    color: white;
    margin: 0;
    padding: 35px 0;
    text-transform: uppercase;
}